# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
*.swp
*.swo
*~
.DS_Store
.vscode/
*.code-workspace

# OS
Thumbs.db

# Local env files
.env
.env.local